[user]
	name = stefanboca
	email = stefan.r.boca@gmail.com
	signingkey = BED23A6ED42FEA9D
[credential]
	helper = cache
[core]
	editor = lvim
	autocrlf = input
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool "vimdiff"]
	cmd = lvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff "fcinfo"]
	textconv=fcinfo
[alias]
	s = status
	unstage = restore --staged
	last = log -n1 HEAD
	visual = !gitk
	submodules-pull = submodule update --remote --recursive
	conflicts = diff --name-only --diff-filter=U
; [url "ssh://git@github.com/"]
;     insteadOf = https://github.com/

[includeIf "gitdir:~/projects/aa/"]
	path = ~/projects/aa/.gitconfig
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[pull]
	rebase = false
